html, body{
    width: 100%;
    height: 100%;
}
#image-effects div{
    float: left;
}

#file-choice{
    display: inline-block;
}

#head-content{
    height: 10%;
    width: 100%;
}

#img-area{
    height: 90%;
    width: 100%;
    clear: both;
}

#canvas{
    height: 100%;
    width: 100%;
}