.options-nav-bar{
    overflow: auto;
}

.options-nav-bar div{
    float: left;
}

.main-content{
    clear: both;
}

#toggle{
    border-style: solid;
    border-color: black;
    background-color: grey;
    display:none;
}

#show{
    display: inline;
}

#hide{
    display: none;
}

.tableBtn{
    color: black;
    padding: 20px;
    
}

.tableBtn:hover{
    background-color: black;
    color: white;
}

.playerBtn:hover{
    background-color:  blue;
    color: white;
}

#stats-container{
    height: 10px;
}
#roster-container{
    height: 10px;
    position: fixed;
}

